<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta name="description" content="Demonstration of Bootstrap Framework"/>

    <title>Demonstration of Bootstrap Framework</title>

    <!-- Stylesheets -->
    <!-- Stylesheets for Bootstrap -->
    <link rel="stylesheet" href="/resources/css/boostrap_css_libs/bootstrap_v4.6.1/bootstrap.min.css"/>
</head>
<body>

<div>
    <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/"
       title="https://getbootstrap.com/docs/4.3/getting-started/introduction/"
       target="_blank" class="center_section_title_link">Demonstration of Bootstrap Framework</a>
</div>

<div>
    <div class="technology_topics_titles">
        <a href="https://getbootstrap.com/docs/4.3/components/alerts"
           title="https://getbootstrap.com/docs/4.3/components/alerts" target="_blank">
            Alerts Examples
        </a>
    </div>

    <div class="bootstrap_widgets_wrapper">
        <div class="alert alert-primary" role="alert">
            A simple primary alert-check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
            A simple secondary alert-check it out!
        </div>
        <div class="alert alert-success" role="alert">
            A simple success alert-check it out!
        </div>
        <div class="alert alert-danger" role="alert">
            A simple danger alert-check it out!
        </div>
        <div class="alert alert-warning" role="alert">
            A simple warning alert-check it out!
        </div>
        <div class="alert alert-info" role="alert">
            A simple info alert-check it out!
        </div>
        <div class="alert alert-light" role="alert">
            A simple light alert-check it out!
        </div>
        <div class="alert alert-dark" role="alert">
            A simple dark alert-check it out!
        </div>
    </div>

    <div class="technology_topics_titles">
        <a href="https://getbootstrap.com/docs/4.3/components/badge"
           title="https://getbootstrap.com/docs/4.3/components/badge" target="_blank">
            Badges Examples
        </a>
    </div>

    <div class="bootstrap_widgets_wrapper">
        <h1>Example heading <span class="badge badge-secondary">New</span></h1>
        <h2>Example heading <span class="badge badge-secondary">New</span></h2>
        <h3>Example heading <span class="badge badge-secondary">New</span></h3>
        <h4>Example heading <span class="badge badge-secondary">New</span></h4>
        <h5>Example heading <span class="badge badge-secondary">New</span></h5>
        <h6>Example heading <span class="badge badge-secondary">New</span></h6>
    </div>

    <div class="technology_topics_titles">
        <a href="https://getbootstrap.com/docs/4.3/components/buttons"
           title="https://getbootstrap.com/docs/4.3/components/buttons" target="_blank">
            Buttons Examples
        </a>
    </div>

    <div class="bootstrap_widgets_wrapper">
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
</div>

<!-- JS for Bootstrap -->
<script src="/resources/js/bootstrap_js_libs/jquery-3.6.0.min.js"></script>
<script src="/resources/js/bootstrap_js_libs/bootstrap_v4.6.1/bootstrap.bundle.min.js"></script>

</body>
</html>
