<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %p %logger{1}:%L - %msg%n"/>
        </Console>
        <!--<File name="FileAppender" fileName="target/logfile.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %logger{36} - %msg%n"/>
        </File>-->
    </Appenders>
    <Loggers>
        <Root level="DEBUG"> <!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="FileAppender"/>-->
        </Root>
    </Loggers>
</Configuration>
