/* General Styles */

.body {
    background-image: url("/resources/images/PinkBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px;
}

.page_title {
    height: 100%; /*150vh*/
    background-color: rgba(102, 255, 255, 0.7); /*#66FFFFB2*/
    border: 1px solid rgba(255, 0, 128, 1); /*#FF0080FF*/
    border-radius: 5px;
    box-shadow: 8px 5px 5px rgba(51, 77, 77, 1); /*#334D4DFF*/
    font-family: Linotype Didot, Courgette, serif;
    font-size: 30px;
    color: rgba(179, 0, 0, 1); /*#B30000FF*/
    text-align: center;
    text-decoration: none;
    text-shadow: 4px 4px 4px rgba(51, 77, 77, 1); /*#334D4DFF*/
    padding-top: 5px;
    line-height: 40px;
    margin: 0 10px 0 10px;
}

.page_title_link {
    color: rgba(179, 0, 0, 1); /*#B30000FF*/
    text-decoration: none;
}

.page_title_link:hover {
    color: fuchsia;
    text-decoration: none;
}

/* Topics */

.topics_titles {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: rgba(179, 0, 0, 1); /*#B30000FF*/
    margin-top: 13px;
    margin-bottom: 10px;
}

.topics_titles a {
    color: rgba(179, 0, 0, 1); /*#B30000FF*/
    text-decoration: none;
}

.topics_titles a:hover {
    color: fuchsia;
    text-decoration: none;
}

.topics_list {
    color: #004085;
    text-decoration: none !important;
    font-size: 16px;
}

.topics_list:hover {
    color: rgba(179, 0, 0, 1); /*#B30000FF*/
    text-decoration: none !important;
    font-size: 16px;
}

/* Bootstrap Widgets */

.bootstrap_widgets_wrapper {
    margin-top: 16px;
    margin-bottom: 25px;
}
